{% extends 'base.html' %}
{% load static %}

{% block title %}Images list{% endblock %}

{% block content %}
<!-- Bread crumb -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Images list</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Images list</li>
        </ol>
    </div>
</div>
<!-- End Bread crumb -->
<div class="container-fluid">
    <!-- Start Page Content -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">image List</h4>
                    <div class="table-responsive m-t-40">
                        <div id="example23_wrapper" class="dataTables_wrapper">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example23_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 181.4px;">Base Img Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 430.4px;">New Img Name</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 295.4px;">Extra cmd</th>
                                        <th class="sorting" tabindex="0" aria-controls="example23" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 430.4px;">Created</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Base Img Name</th>
                                        <th rowspan="1" colspan="1">New Img Name</th>
                                        <th rowspan="1" colspan="1">Extra cmd</th>
                                        <th rowspan="1" colspan="1">Created</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                {% for obj in object_list %}
                                    <tr role="row" class="odd">
                                        <td>{{ obj.base_image_name }} Mins</td>
                                        <td>{{ obj.new_image_name }}</td>
                                        <td>{{ obj.extra_command }}</td>
                                        <td>{{ obj.created }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}